/* Write your CSS here */
.product-loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.product-details-container {
  padding: 20px;
}
.product-img {
  width: 100%;
  border-radius: 10px;
}
.product-title {
  font-family: 'Roboto';
  color: #616e7c;
  font-size: 22px;
}
.product-price {
  font-family: 'Roboto';
  color: #171f46;
  font-size: 28px;
  font-weight: 600;
}
.star-img {
  height: 20px;
}
.rating-box {
  background-color: #3b82f6;
  display: flex;
  justify-content: center;
  padding: 3px;
  align-items: center;
  color: white;
  border-radius: 5px;
  line-height: 0.3px;
  width: 70px;
  margin-right: 20px;
}
.rating-review-box {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.review-count {
  font-family: 'Roboto';
  color: #171f46;
  font-size: 14px;
}
.product-description {
  font-family: 'Roboto';
  color: #616e7c;
  font-size: 14px;
}
.availability {
  font-family: 'Roboto';
  color: #171f46;
  font-weight: 500;
}
.product-count-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.product-count {
  font-family: 'Roboto';
  color: #cbced2;
  margin-left: 15px;
  margin-right: 15px;
  font-weight: 500;
  font-size: 24px;
}
.count-btn {
  border: none;
  background-color: transparent;
}
.cart-btn {
  height: 35px;
  width: 130px;
  background-color: #3b82f6;
  color: white;
  border: none;
  border-radius: 5px;
  font-weight: 600;
}
.similar-product-heading {
  font-family: 'Roboto';
  color: #616e7c;
  font-weight: 500;

  font-size: 26px;
}
.similar-products-container {
  list-style-type: none;
  padding-left: 0px;
}
@media screen and (min-width: 768px) {
  .product-title {
    font-size: 40px;
  }
  .product-description {
    font-size: 18px;
  }
  .product-details-lg {
    display: flex;
    justify-content: center;
  }
  .availability {
    font-size: 20px;
  }
  .product-img {
    height: 530px;
    width: 40%;
    margin: 25px;
  }
  .similar-product-lg {
    margin-top: 80px;
  }
  .similar-product-heading {
    font-size: 40px;
  }
  .similar-products-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 1000px) {
  .product-title {
    font-size: 50px;
  }
  .product-description {
    font-size: 20px;
  }
  .availability {
    font-size: 24px;
  }
}
.fail-img {
  height: 150px;
  width: 250px;
}
.failure-view {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.continue-shopping-btn {
  height: 40px;
  width: 160px;
  background-color: #3b82f6;
  color: white;
  border: none;
  border-radius: 5px;
  font-weight: 600;
}
